{% extends 'base.html' %}
{% block contenido %}

<form id="form_conf" method="post">
	{% csrf_token %}
	<div class="row">

		<div class="col-md-6">
			<div class="well bs-component">
				<div class="form-horizontal">
					<fieldset>
						<legend>Signos Vitales.</legend>
						<div class="form-group">
							<p style="text-align:center">Temperatura</p>
							<hr>
						</div>
						<div class="form-group">
							<label for="tmp_n_min" class="col-xs-2 control-label">Temperatura normal</label>
							<div class=" col-xs-4">
								<input type="text" class="form-control" placeholder="Min" name="tmp_n_min" style="text-align:center" value="{{temperatura_normal_min}}">
							</div>
							<div class=" col-xs-1"><span class="input-group-addon">-</span></div>
							<div class=" col-xs-4">
								<input type="text" class="form-control" placeholder="Max" name="tmp_n_max" style="text-align:center" value="{{temperatura_normal_max}}">
							</div>
						</div>
						<div class="form-group">
							<label for="tmp_mmin_min" class="col-xs-2 control-label">Temperatura moderada </label>
							<div class=" col-xs-4">
								<input type="text" class="form-control" placeholder="Min" name="tmp_m_min" style="text-align:center" value="{{temperatura_moderada_min}}">
							</div>
							<div class=" col-xs-1"><span class="input-group-addon">-</span></div>
							<div class=" col-xs-4">
								<input type="text" class="form-control" placeholder="Max" name="tmp_m_max" style="text-align:center" value="{{temperatura_moderada_max}}">
							</div>
						</div>

						<div class="form-group">
							<p style="text-align:center">Frecuencia cardiaca</p>
							<hr>
						</div>

						<div class="form-group">
							<label for="fcar_n_min" class="col-xs-2 control-label">Frecuencia cardiaca normal</label>
							<div class=" col-xs-4">
								<input type="text" class="form-control" placeholder="Min" name="fcar_n_min" style="text-align:center" value="{{fcardiaca_normal_min}}">
							</div>
							<div class=" col-xs-1"><span class="input-group-addon">-</span></div>
							<div class=" col-xs-4">
								<input type="text" class="form-control" placeholder="Max" name="fcar_n_max" style="text-align:center" value="{{fcardiaca_normal_max}}">
							</div>
						</div>
						<div class="form-group">
							<label for="fcar_mmin_min" class="col-xs-2 control-label">Frecuencia cardiaca moderada </label>
							<div class=" col-xs-4">
								<input type="text" class="form-control" placeholder="Min" name="fcar_m_min" style="text-align:center" value="{{fcardiaca_moderada_min}}">
							</div>
							<div class=" col-xs-1"><span class="input-group-addon">-</span></div>
							<div class=" col-xs-4">
								<input type="text" class="form-control" placeholder="Max" name="fcar_m_max" style="text-align:center" value="{{fcardiaca_moderada_max}}">
							</div>
						</div>

						<div class="form-group">
							<p style="text-align:center">Frecuencia respiratoria</p>
							<hr>
						</div>

						<div class="form-group">
							<label for="fres_n_min" class="col-xs-2 control-label">Frecuencia respiratoria normal</label>
							<div class=" col-xs-4">
								<input type="text" class="form-control" placeholder="Min" name="fres_n_min" style="text-align:center" value="{{frespiratoria_normal_min}}">
							</div>
							<div class=" col-xs-1"><span class="input-group-addon">-</span></div>
							<div class=" col-xs-4">
								<input type="text" class="form-control" placeholder="Max" name="fres_n_max" style="text-align:center" value="{{frespiratoria_normal_max}}">
							</div>
						</div>
						<div class="form-group">
							<label for="fres_mmin_min" class="col-xs-2 control-label">Frecuencia respiratoria moderada </label>
							<div class=" col-xs-4">
								<input type="text" class="form-control" placeholder="Min" name="fres_m_min" style="text-align:center" value="{{frespiratoria_moderada_min}}">
							</div>
							<div class=" col-xs-1"><span class="input-group-addon">-</span></div>
							<div class=" col-xs-4">
								<input type="text" class="form-control" placeholder="Max" name="fres_m_max" style="text-align:center" value="{{frespiratoria_moderada_max}}">
							</div>
						</div>

					</fieldset>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="well bs-component">
				<div class="form-horizontal">
					<fieldset>
						<legend>Tiempos de espera.</legend>
						<div class="form-group">
							<label for="fecha_nacimiento" class="col-xs-2 control-label">Tiempo petición de dato</label>
							<div class="col-xs-10 input-group">
								<input type="number" class="form-control" name="tiem_normal" value="{{configuracion_est.tiempo_peticion_res}}">
								<span class="input-group-addon">min.</span>
							</div>
						</div>
						<div class="form-group">
							<label for="fecha_nacimiento" class="col-xs-2 control-label">Tiempo petición de dato enferma</label>
							<div class="col-xs-10 input-group">
								<input type="number" class="form-control" name="tiem_enferma" value="{{configuracion_est.tiempo_peticion_res_enferma}}">
								<span class="input-group-addon">min.</span>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>

	</div>

	<button type="submit" id="btn_submit" style="display:none">Asd</button>
</form>


<ul id="menu" class="mfb-component--br mfb-zoomin" data-mfb-toggle="hover">
	<li class="mfb-component__wrap">
		<a class="mfb-component__button--main">
			<i class="mfb-component__main-icon--resting fa fa-plus"></i>
			<i class="mfb-component__main-icon--active fa fa-plus"></i>
		</a>
		<ul class="mfb-component__list">
			<li>
				<a data-mfb-label="Guardar" class="mfb-component__button--child" id="guardar">
					<i class="mfb-component__child-icon fa fa-floppy-o"></i>
				</a>
			</li>
			<li>
				<a data-mfb-label="Salir sin guardar" class="mfb-component__button--child">
					<i class="mfb-component__child-icon fa fa-remove"></i>
				</a>
			</li>
		</ul>
	</li>
</ul>

<script>
	$('#guardar').click(function(e){
		e.preventDefault();
		$('#btn_submit').trigger('click');
	});
</script>
{% endblock %}