{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Monito~Res</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link rel="icon" href="{% static 'images/logor.png' %}" />

	<link rel="stylesheet" href="{% static 'styles/dependencies/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'styles/bootstrap-datetimepicker.min.css' %}">
	<link rel="stylesheet" href="{% static 'styles/font-awesome.css' %}">
	<link rel="stylesheet" href="{% static 'styles/jquery.bootgrid.css' %}">
	<link rel="stylesheet" href="{% static 'styles/material-design-iconic-font.min.css' %}">
	<link rel="stylesheet" href="{% static 'styles/mfb.css' %}">
	<link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>

<body>

	<div class="container" style="margin-top: -80px;">
		<div class="row">
			<div class="col-xs-12">
				<center><img src="{% static 'images/logobig.png' %}" style="width:30%; padding:20px;"></center>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3"></div>
			<div class="col-xs-6">
				<div class="well bs-component">
					{% if messages %}
						{% for message in messages %}
							<div class="alert alert-dismissible alert-danger">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								<strong>Error</strong> {{ message }}
							</div>
						{% endfor %}
					{% endif %}
					<form class="form-horizontal" method="post">
						<input type='hidden' name='_csrf' value='<%= _csrf %>'>
						<fieldset>
							<legend>Datos de usuario</legend>
							<div class="form-group">
								<label for="inputEmail" class="col-md-2 control-label">Email</label>
								<div class="col-md-10">
									<input type="email" name="email" class="form-control" placeholder="Email" required>
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword" class="col-md-2 control-label">Password</label>
								<div class="col-md-10">
									<input type="password" class="form-control" name="password" placeholder="Password" required>
								</div>
							</div>
							<center>
								<button type="submit" class="btn btn-danger">Entrar</button>
							</center>
						</fieldset>
						{% csrf_token %}
					</form>
				</div>
			</div>
			<div class="col-xs-3"></div>
		</div>
	</div>

	<script src="{% static 'js/dependencies/socket.io.js' %}"></script>
	<script src="{% static 'js/dependencies/jquery-2.1.4.min.js' %}"></script>
	<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>
	<script src="{% static 'js/jquery.bootgrid.js' %}"></script>
	<script src="{% static 'js/jquery.nicescroll.js' %}"></script>
	<script src="{% static 'js/mfb.js' %}"></script>
</body>
</html>
