{% extends 'base.html' %}
{% block contenido %}
<div class="row">
	<div class="col-md-12 well">
		<legend>Reses con signos destacados</legend>
		<div class="bs-component">
			<table id="datos_princ" class="table table-striped table-hover">
				<thead>
					<tr>
						<th data-column-id="id" data-type="numeric">ID</th>
						<th data-column-id="raza">Raza</th>
						<th data-column-id="peso">Peso</th>
						<th data-column-id="altura">Altura</th>
						<th data-column-id="fcardiaca">F. Cardiaca</th>
						<th data-column-id="respiratoria">F. Respiratoria</th>
						<th data-column-id="temperatura">Temperatura</th>
						<th data-column-id="ult_med">Estado</th>
						<th data-column-id="commands" data-formatter="commands" data-sortable="false"></th>		
					</tr>
				</thead>
				<tbody>
				{% for res in reses %}
					<tr>
						<td>{{ res.id }}</td>
						<td>{{ res.raza.nombre }}</td>
						<td>{{ res.ultima_medida.peso }}kg</td>
						<td>{{ res.ultima_medida.altura }}mt</td>
						<td>
							<span id="fcard_res_{{ res.id }}">
								{{ res.ultimo_signo_vital.frecuencia_cardiaca }}
							</span>
							LPM 
							<i class="icont"></i>
						</td>
						<td>
							<span id="fres_res_{{ res.id }}">
								{{ res.ultimo_signo_vital.frecuencia_respiratoria }}
							</span>
							RPM 
							<i class="icont"></i>
						</td>
						<td>
							<span id="temp_res_{{ res.id }}">
								{{ res.ultimo_signo_vital.temperatura }}
							</span>
							°C  
							<i class="icont"></i>
						</td>
						<td class="estado_{{res.id}}">
							{% if res.estado.estado == 'checar' %}
								<a href="/res/alerta/{{res.id}}/"><span class="label label-danger">Sin atender</span></a>
							{% endif %}
							{% if res.estado.estado == 'revisado' %}
								<a href="/res/alerta/{{res.id}}/"><span class="label label-warning">Atendiendo</span></a>
							{% endif %}
							{% if res.estado.estado == 'finalizado' %}
								<a href="/res/alerta/{{res.id}}/"><span class="label label-success">Recuperado</span></a>
							{% endif %}
						</td>
						<td><a class="btn btn-info btn-sm" href="/res/{{res.id}}" >Ver</a></td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).on('ready', function(){
		window.socket.on('signo_vital',function(data){
			temp = parseFloat(data.temperatura);
			fcar = parseFloat(data.frecuencia_cardiaca);
			fres = parseFloat(data.frecuencia_respiratoria);
			
				$('#temp_res_' + data.res).next().removeClass();
				$('#fcard_res_' + data.res).next().removeClass();
				$('#fres_res_' + data.res).next().removeClass();

				if (parseFloat($('#temp_res_' + data.res).html()) == temp){
					$('#temp_res_' + data.res).next().addClass('fa fa-minus')
				}
				else if (temp < parseFloat($('#temp_res_' + data.res).html())){
					$('#temp_res_' + data.res).next().addClass('fa fa-chevron-down')
				}
				else if (temp > parseFloat($('#temp_res_' + data.res).html())){
					$('#temp_res_' + data.res).next().addClass('fa fa-chevron-up')
				}

				if (parseFloat($('#fcard_res_' + data.res).html()) == fcar){
					$('#fcard_res_' + data.res).next().addClass('fa fa-minus')
				}
				else if (fcar < parseFloat($('#fcard_res_' + data.res).html())){
					$('#fcard_res_' + data.res).next().addClass('fa fa-chevron-down')
				}
				else if (fcar > parseFloat($('#fcard_res_' + data.res).html())){
					$('#fcard_res_' + data.res).next().addClass('fa fa-chevron-up')
				}

				if (parseFloat($('#fres_res_' + data.res).html()) == fres){
					$('#fres_res_' + data.res).next().addClass('fa fa-minus')
				}
				else if (fres < parseFloat($('#fres_res_' + data.res).html())){
					$('#fres_res_' + data.res).next().addClass('fa fa-chevron-down')
				}
				else if (fres > parseFloat($('#fres_res_' + data.res).html())){
					$('#fres_res_' + data.res).next().addClass('fa fa-chevron-up')
				}
				
				$('#temp_res_' + data.res).html(data.temperatura);
				$('#fcard_res_' + data.res).html(data.frecuencia_cardiaca);
				$('#fres_res_' + data.res).html(data.frecuencia_respiratoria);

						/* fa-chevron-up fa-minus fa-chevron-down */

				$('#temp_res_' + data.res).parent().removeClass();
				$('#fcard_res_' + data.res).parent().removeClass();
				$('#fres_res_' + data.res).parent().removeClass();

				if (temp  >= {{ctemp.normal.min}} && temp < {{ctemp.normal.max}} ){
					$('#temp_res_' + data.res).parent().addClass('success');
				}
				else if (temp  >= {{ctemp.moderada.min}} && temp  <= {{ctemp.moderada.max}} ){
					$('#temp_res_' + data.res).parent().addClass('warning');
				}
				else{
					$('#temp_res_' + data.res).parent().addClass('danger');
				}

				if (fcar  > {{cfcard.normal.min}} && fcar < {{cfcard.normal.max}} ){
					$('#fcard_res_' + data.res).parent().addClass('success');
				}
				else if (fcar > {{cfcard.moderada.min}} && fcar < {{cfcard.moderada.max}}){
					$('#fcard_res_' + data.res).parent().addClass('warning');
				}
				else{
					$('#fcard_res_' + data.res).parent().addClass('danger');
				}

				if (fres  > {{cfres.normal.min}} && fres < {{cfres.normal.max}} ){
					$('#fres_res_' + data.res).parent().addClass('success');
				}
				else if (fres  > {{cfres.moderada.min}} && fres < {{cfres.moderada.max}}){
					$('#fres_res_' + data.res).parent().addClass('warning');
				}
				else{
					$('#fres_res_' + data.res).parent().addClass('danger');
				}
			
		});
	});
</script>
{% endblock %}