{% extends 'base.html' %}
{% block contenido %}
{% if messages %}
	{% for message in messages %}
		<div class="alert alert-dismissible alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
		</div>
	{% endfor %}
{% endif %}
<form id="form_res" method="post">
	{% csrf_token %}
	<div class="row">
		<div class="col-md-12">
			<div class="well bs-component">
				<fieldset>
					<legend>Raza.</legend>
					<div class="form-group">
						<label for="id_arete" class="col-xs-2 control-label">Nombre</label>
						<div class="col-xs-9">
							<input type="text" class="form-control" placeholder="Nombre de la Raza" name="nombre" value="{% if form %}{{form.nombre.value}}{% else %}{{object.nombre}}{% endif %}" required>
						</div>						
					</div>
				</fieldset>
			</div>
		</div>
	</div>
	<button type="submit" id="btn_submit" style="display:none">Asd</button>
</form>

<ul id="menu" class="mfb-component--br mfb-zoomin" data-mfb-toggle="hover">
	<li class="mfb-component__wrap">
		<a class="mfb-component__button--main">
			<i class="mfb-component__main-icon--resting fa fa-plus"></i>
			<i class="mfb-component__main-icon--active fa fa-plus"></i>
		</a>

		<ul class="mfb-component__list">
			<li>
				<a data-mfb-label="Guardar" class="mfb-component__button--child" id="guardar">
					<i class="mfb-component__child-icon fa fa-floppy-o"></i>
				</a>
			</li>
		</ul>
	</li>
</ul>

<script>
	$('#guardar').click(function(e){
		e.preventDefault();
		$('#btn_submit').trigger('click');
	});
</script>
{% endblock %}