{% extends 'base.html' %}
{% block contenido %}
{% if messages %}
	{% for message in messages %}
		<div class="alert alert-dismissible alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
		</div>
	{% endfor %}
{% endif %}
<form id="form_res" method="post">
	{% csrf_token %}
	<div class="row">

		<div class="col-md-6">
			<div class="well bs-component">
				<div class="form-horizontal">
					<fieldset>
						<legend>Datos Generales.</legend>
						<div class="form-group">
							<label for="id_arete" class="col-xs-2 control-label">ID de Arete MonitoRes</label>
							<div class="col-xs-9">
								<input type="number" class="form-control" placeholder="ID de Arete MonitoRes" name="id_arete" required>
							</div>
							<a href="#" class="btn btn-default col-xs-1"><i class="fa fa-search"></i></a>
						</div>
						<div class="form-group">
							<label for="id_arete_siniiga" class="col-xs-2 control-label">ID de Arete SINIIGA</label>
							<div class="col-xs-10">
								<input type="number" class="form-control" placeholder="ID de Arete SINIIGA" name="id_arete_siniiga">
							</div>
						</div>
						<div class="form-group">
							<label for="corral" class="col-xs-2 control-label">Corral</label>
							<div class="col-xs-9">
								<input type="text" class="form-control" placeholder="Corral" name="corral">
							</div>
							<a href="#" class="btn btn-default col-xs-1"><i class="fa fa-search"></i></a>
						</div>
						<div class="form-group">
							<label for="fecha_entrada" class="col-xs-2 control-label">Fecha de entrada</label>
							<div class="col-xs-10">
								<input type="date" class="form-control" name="fecha_entrada">
							</div>
						</div>
						<div class="form-group">
							<label for="precio_compra" class="col-xs-2 control-label">Precio de Compra</label>
							<div class="input-group col-xs-10">
								<span class="input-group-addon">$</span>
								<input type="number" class="form-control" name="precio_compra">
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="well bs-component">
				<div class="form-horizontal">
					<fieldset>
						<legend>Datos del Animal.</legend>
						<div class="form-group">
							<label for="raza" class="col-xs-2 control-label">Raza</label>
							<div class="col-xs-10">
								<select class="form-control" name="raza">
									{% for raza in razas %}
										<option value="{{raza.id}}">{{raza.nombre}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="sexo" class="col-xs-2 control-label">Sexo</label>
							<div class="col-xs-10">
								<div class="radio">
									<label>
										<input type="radio" name="radioSexo" id="radioSexo1" value="M" checked="">
										Macho
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="radioSexo" id="radioSexo2" value="H">
										Hembra
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="fecha_nacimiento" class="col-xs-2 control-label">Fecha de nacimiento</label>
							<div class="col-xs-10">
								<input type="date" class="form-control" name="fecha_nacimiento">
							</div>
						</div>
						<div class="form-group">
							<label for="datos_adicionales" class="col-xs-2 control-label">Datos adicionales</label>
							<div class="col-xs-10">
								<div class="checkbox">
									<label>
										<input type="checkbox" name="datos_adicionales"> Castrado
									</label>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>

	</div>

	<div class="row">

		<div class="col-md-6">
			<div class="well bs-component">
				<div class="form-horizontal">
					<fieldset>
						<legend>Medidas del Animal.</legend>
						<div class="form-group">
							<label for="peso" class="col-xs-2 control-label">Peso del Animal</label>
							<div class="input-group col-xs-10">
								<input type="number" class="form-control" name="peso">
								<span class="input-group-addon">Kgs</span>
							</div>
						</div>
						<div class="form-group">
							<label for="altura" class="col-xs-2 control-label">Altura del Animal</label>
							<div class="input-group col-xs-10">
								<input type="number" class="form-control" name="altura">
								<span class="input-group-addon">Mts</span>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>

	</div>
	<button type="submit" id="btn_submit" style="display:none">Asd</button>
</form>


<ul id="menu" class="mfb-component--br mfb-zoomin" data-mfb-toggle="hover">
	<li class="mfb-component__wrap">
		<a class="mfb-component__button--main">
			<i class="mfb-component__main-icon--resting fa fa-plus"></i>
			<i class="mfb-component__main-icon--active fa fa-plus"></i>
		</a>
		<ul class="mfb-component__list">
			<li>
				<a data-mfb-label="Guardar" class="mfb-component__button--child" id="guardar">
					<i class="mfb-component__child-icon fa fa-floppy-o"></i>
				</a>
			</li>
			<li>
				<a href="" data-mfb-label="Guardar y añadir otro" class="mfb-component__button--child">
					<i class="mfb-component__child-icon fa fa-plus-circle"></i>
				</a>
			</li>
			<li>
				<a href= data-mfb-label="Salir sin guardar" class="mfb-component__button--child">
					<i class="mfb-component__child-icon fa fa-remove"></i>
				</a>
			</li>
		</ul>
	</li>
</ul>

<script>
	$('#guardar').click(function(e){
		e.preventDefault();
		$('#btn_submit').trigger('click');
	});
</script>
{% endblock %}