{% extends 'base.html' %}
{% block contenido %}
<style>
	.demo-container{
		height: 400px;
	}
	.demo-placeholder {
		width: 100%;
		height: 100%;
		font-size: 14px;
		line-height: 1.2em;
	}
</style>
<div class="container">

	<div class="row">
		<div class="col-md-12 well">
			<legend>Datos de la Res   ID:{{res.id}}     SINIIGA:{{res.arete_siniiga}}<span style="float:right;color:#CA2F23"><i class="fa fa-bookmark fa-lg"></i></span></legend>
			<div class="bs-component">
				<table class="table table-striped table-hover ">
					<thead>
						<tr>
							<th>Corral</th>
							<th>Edad</th>
							<th>Raza</th>
							<th>Peso</th>
							<th>Altura</th>
							<th>Formula A.</th>
							<th>F. Cardiaca</th>
							<th>F. Respiratoria</th>
							<th>Temperatura</th>   
							<th>Grado</th> 
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{res.corral}}</td>
							<td>{{res.edad_ingreso}}</td>
							<td>{{res.raza.nombre}}</td>
							<td>{{res.ultima_medida.peso}}kg</td>
							<td>{{res.ultima_medida.altura}}mt</td>
							<td>--</td>
							<td>
								<span id="fcard_res_{{res.id}}">{{res.ultimo_signo_vital.frecuencia_cardiaca}}</span>LPM
							</td>
							<td>
								<span id="fres_res_{{ res.id }}">{{res.ultimo_signo_vital.frecuencia_respiratoria}}</span>
								RPM
							</td>
							<td>
								<span id="temp_res_{{ res.id }}">
								{{res.ultimo_signo_vital.temperatura}}
								</span>°C  <i class="fa fa-minus">
							</td>
							<td>--</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="demo-container">
				<div id="placeholder" class="demo-placeholder"></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 well">
			<legend>Medidas</legend>
			<div class="bs-component">
				<table class="table table-striped table-hover ">
					<thead>
						<tr>
							<th>Edad</th>
							<th>Peso</th>
							<th>Altura</th>
							<th>Fecha medición</th>
							<th>Altura ganada</th>
							<th>Kilogramos ganados P/D</th> 
						</tr>
					</thead>
					<tbody>
						{% for medida in res.medidas %}
							<tr>
								<td>{{medida.edad}}</td>
								<td>{{medida.peso}}kg</td>
								<td>{{medida.altura}}mt</td>
								<td>{{medida.fecha}}</td>
								<td>--m</td>
								<td>--kg</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 well">
			<legend>Historial Medico</legend>
			<div class="bs-component">
				<h6>23/06/15 - 12:23 / 23/07/15 - 12:23</h6>
				<table class="table table-striped table-hover ">
					<thead>
						<tr >
							<th>Edad</th>
							<th>Raza</th>
							<th>Peso</th>
							<th>Altura</th>
							<th>Temperatura</th>
							<th>F.Respiratoria</th>
							<th>F.Cardiaca</th>
							<th>Signos</th>
							<th>Comentarios</th>
							<th>Grado</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>8</td>
							<td>Angus</td>
							<td>220kg</td>
							<td>2.2mt</td>
							<td>37°C</td>
							<td>39</td>
							<td>40</td>
							<td>Golpes abdominales, Moco claro, Diarrea</td>
							<td>Este animal no se podia parar.</td>
							<td>4</td>
                    <!--<td><a role="button" class="btn btn-info btn-sm" data-toggle="collapse" href="#signos" aria-expanded="false" aria-controls="signos">Ver</a></td>
                  </tr>
                    <tr>
                        <td class="collapse" id="signos">
                            <tr>
                                <th>Signos</th>
                                <th>Comentarios</th>
                            </tr>
                            <tr>
                                <td>Golpes abdominales, Moco claro, Diarrea</td>
                                <td>Este animal no se podia parar.</td>
                            </tr>
                        </td>  -->                  
                    </tr>
                    

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
	<div class="col-md-12 well">
		<legend>Historial de alimentación</legend>
		<div class="bs-component">
			<table class="table table-striped table-hover ">
				<thead>
					<tr >
						<th>Fecha inicio</th>
						<th>Fecha finalización</th>
						<th>Formula</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>02/09/15</td>
						<td>Actual</td>
						<td>2</td>              
					</tr>
					<tr>
						<td>02/05/15</td>
						<td>02/09/15</td>
						<td>1</td>              
					</tr>
					

				</tbody>
			</table>
		</div>
	</div>
</div>
</div>
{% endblock %}
{% load staticfiles %}
{% block scripts %}
<script src="{% static 'js/flot/jquery.flot.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.resize.js' %}"></script>
<script type="text/javascript">
	$(function() {
		window.iter = 1;
		window.totalPoints = 30;
		window.tempe = [];
		window.cardi = [];
		window.respi = [];

/*
		for (var i = 0; i < 14; i += 0.5) {
			temp.push([i, Math.sin(i)]);
			card.push([i, Math.cos(i)]);
			resp.push([i, Math.cos(i)-Math.sin(i)]);
		}*/

		

		window.plot = $.plot("#placeholder", [
			{ data: tempe, label: "Temperatura"},
            { data: cardi, label: "F.Cardiaca"},
           	{ data: respi, label: "F.Respiratoria"}
           ], {
           	series: {
           		shadowSize: 0,
           		lines: {
           			show: true
           		},
           		points: {
           			show: true
           		}
           	},
           	grid: {
           		hoverable: true
           	},
           	yaxis: {
				min: 0,
				max: 100
			},
			xaxis: {
				show: false
			}
           });
		
		$("<div id='tooltip'></div>").css({
			position: "absolute",
			display: "none",
			border: "1px solid #fdd",
			padding: "2px",
			"background-color": "#CA2F23",
			opacity: 0.80,
			color: "white"
		}).appendTo("body");
		
		$("#placeholder").bind("plothover", function (event, pos, item) {

			if (true) {
				var str = "(" + pos.x.toFixed(2) + ", " + pos.y.toFixed(2) + ")";
				$("#hoverdata").text(str);
			}

			if (true) {
				if (item) {
					var x = item.datapoint[0].toFixed(2),
					y = item.datapoint[1].toFixed(2);

					$("#tooltip").html(item.series.label + " = " + y)
					.css({top: item.pageY+5, left: item.pageX+5})
					.fadeIn(200);
				} else {
					$("#tooltip").hide();
				}
			}
		});
	});
</script>
<script type="text/javascript">
	$(document).on('ready', function(){
		function update(data) {
			var datas = window.tempe;
			if (datas.length > 20)
			{
				window.tempe=window.tempe.slice(1);
				window.cardi=window.cardi.slice(1);
				window.respi=window.respi.slice(1);
				console.log('asd');
			}

			var i = window.iter;		
			window.tempe.push([i, data.temperatura]);
			window.cardi.push([i, data.frecuencia_cardiaca]);
			window.respi.push([i, data.frecuencia_respiratoria]);
			window.iter = parseInt(window.iter) + 1;
			

           	window.plot.setData([ { 'data': window.tempe, label: "Temperatura"},
            { 'data': window.cardi, label: "F.Cardiaca"},
           	{ 'data': window.respi, label: "F.Respiratoria"} ]);

           	plot.setupGrid()
           	plot.draw();
		}

		window.socket.on('signo_vital',function(data){
			console.log(data);
			if(data.res == {{res.id}})
			{
				update(data);
			}
			temp = parseFloat(data.temperatura);
			fcar = parseFloat(data.frecuencia_cardiaca);
			fres = parseFloat(data.frecuencia_respiratoria);
			
				$('#temp_res_' + data.res).next().removeClass();
				$('#fcard_res_' + data.res).next().removeClass();
				$('#fres_res_' + data.res).next().removeClass();

				if (parseFloat($('#temp_res_' + data.res).html()) == temp){
					$('#temp_res_' + data.res).next().addClass('fa fa-minus')
				}
				else if (temp < parseFloat($('#temp_res_' + data.res).html())){
					$('#temp_res_' + data.res).next().addClass('fa fa-chevron-down')
				}
				else if (temp > parseFloat($('#temp_res_' + data.res).html())){
					$('#temp_res_' + data.res).next().addClass('fa fa-chevron-up')
				}

				if (parseFloat($('#fcard_res_' + data.res).html()) == fcar){
					$('#fcard_res_' + data.res).next().addClass('fa fa-minus')
				}
				else if (fcar < parseFloat($('#fcard_res_' + data.res).html())){
					$('#fcard_res_' + data.res).next().addClass('fa fa-chevron-down')
				}
				else if (fcar > parseFloat($('#fcard_res_' + data.res).html())){
					$('#fcard_res_' + data.res).next().addClass('fa fa-chevron-up')
				}

				if (parseFloat($('#fres_res_' + data.res).html()) == fres){
					$('#fres_res_' + data.res).next().addClass('fa fa-minus')
				}
				else if (fres < parseFloat($('#fres_res_' + data.res).html())){
					$('#fres_res_' + data.res).next().addClass('fa fa-chevron-down')
				}
				else if (fres > parseFloat($('#fres_res_' + data.res).html())){
					$('#fres_res_' + data.res).next().addClass('fa fa-chevron-up')
				}
				
				$('#temp_res_' + data.res).html(data.temperatura);
				$('#fcard_res_' + data.res).html(data.frecuencia_cardiaca);
				$('#fres_res_' + data.res).html(data.frecuencia_respiratoria);

						/* fa-chevron-up fa-minus fa-chevron-down */

				$('#temp_res_' + data.res).parent().removeClass();
				$('#fcard_res_' + data.res).parent().removeClass();
				$('#fres_res_' + data.res).parent().removeClass();

				if (temp  >= {{ctemp.normal.min}} && temp < {{ctemp.normal.max}} ){
					$('#temp_res_' + data.res).parent().addClass('success');
				}
				else if (temp  >= {{ctemp.moderada.min}} && temp  <= {{ctemp.moderada.max}} ){
					$('#temp_res_' + data.res).parent().addClass('warning');
				}
				else{
					$('#temp_res_' + data.res).parent().addClass('danger');
				}

				if (fcar  > {{cfcard.normal.min}} && fcar < {{cfcard.normal.max}} ){
					$('#fcard_res_' + data.res).parent().addClass('success');
				}
				else if (fcar > {{cfcard.moderada.min}} && fcar < {{cfcard.moderada.max}}){
					$('#fcard_res_' + data.res).parent().addClass('warning');
				}
				else{
					$('#fcard_res_' + data.res).parent().addClass('danger');
				}

				if (fres  > {{cfres.normal.min}} && fres < {{cfres.normal.max}} ){
					$('#fres_res_' + data.res).parent().addClass('success');
				}
				else if (fres  > {{cfres.moderada.min}} && fres < {{cfres.moderada.max}}){
					$('#fres_res_' + data.res).parent().addClass('warning');
				}
				else{
					$('#fres_res_' + data.res).parent().addClass('danger');
				}
			
		});
	});
</script>
{% endblock %}