{% extends 'base.html' %}
{% block contenido %}
<div class="row">
	<div class="col-md-12">
		<div class="well bs-component">
			<fieldset>
				<legend>Razas.</legend>
			</fieldset>
			<ul class="list-group">
				{% for raza in object_list %}
				<li class="list-group-item"><a href ="/raza/{{raza.id}}/">{{raza.nombre}}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}